h1, h2, h3, h4, h5, h6{
	font-family: 'Duru Sans', sans-serif;
}
span, p, label {
	font-family: 'Duru Sans', sans-serif;
}

ul > li{
	font-family: 'Duru Sans', sans-serif;
	font-size: 14px;
}

footer > p{
	font-size: 12px;
}